<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!-- Start Head -->
    <head>
        <meta charset="utf-8" />
        <title>mOffice</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <!-- End Head -->
    <body class="sb-nav-fixed">
       <!-- Start Top Nav -->
       <th:block th:replace="~{fragment/layout-top-nav :: top-nav}"></th:block>
       <!-- End Top Nav -->
        <div id="layoutSidenav">
            <!--Start Side Nav -->
            <th:block th:replace="~{fragment/layout-side-nav :: side-nav}"></th:block>
            <!--End Side Nav -->

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-table me-1"></i>
                                        최신 카테고리 목록 5개
                                    </div>
                                    <div class="card-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>순번</th>
                                                    <th>카테고리명</th>
                                                    <th>등록일시</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:if="${#lists.isEmpty(categoryList.list)}">
                                                    <td colspan="3" class="text-center">등록된 카테고리가 없습니다.</td>
                                                </tr>
                                                <tr th:each="category : ${categoryList.list}">
                                                    <td th:text="${categoryStat.count}"></td>
                                                    <td><a  class="link-primary"
                                                            th:style="'text-decoration: none;'"
                                                            th:text="${category.categoryName}"
                                                            th:href="@{/category/category_detail/{indexNo}(indexNo=${category.indexNo})}">
                                                        카테고리명</a>
                                                    </td>
                                                    <td th:text="${category.createDatetime}">등록일</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-table me-1"></i>
                                        최신 상품목록 5개
                                    </div>
                                    <div class="card-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>순번</th>
                                                    <th>아이템명</th>
                                                    <th>등록일시</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:if="${#lists.isEmpty(itemList.list)}">
                                                    <td colspan="3" class="text-center"> 등록된 상품이 없습니다.</td>
                                                </tr>
                                                <tr th:each="item : ${itemList.list}">
                                                    <td th:text="${itemStat.count}"></td>
                                                    <td><a class="link-primary"
                                                            th:style="'text-decoration: none;'"
                                                            th:text="${item.itemName}"
                                                            th:href="@{/items/item_detail/{indexNo}(indexNo=${item.indexNo})}">상품명</a>
                                                    </td>
                                                    <td th:text="${item.createDatetime}">등록일</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                DataTable Example
                            </div>
                            <div class="card-body">
                                <canvas id="myBarChart" width="100%" height="40"></canvas>
                            </div>
                        </div>-->
                    </div>
                </main>
                <!-- Start Footer -->
                <th:block th:replace="~{fragment/layout-footer :: footer}"></th:block>
                <!-- End Footer -->
            </div>
        </div>
        <!-- Start Foot -->
        <th:block th:replace="~{fragment/layout-foot :: foot}"></th:block>
        <!-- End Foot -->
    </body>
</html>
